/* -------CONTACTO------- */

.contacto {
    display: flex;
    width: 1800px;
    justify-content: space-around;
    align-items: center;

    .contenido-vertical {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-family: Montserrat, sans-serif;
            font-size: 50px;
            font-weight: 600;
            text-transform: uppercase;
            padding: 50px 20px 20px 20px;
            margin: 0 190px;
            color: #ffffff;
        }
    }

    .contenido-horizontal {
        display: flex;
    }
}

.card {
    width: 700px;
    padding: 10px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card h5 {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #000000;
}

.card p {
    text-align: center;
    font-family: Hind, sans-serif;
    font-size: 25px;
    color: #000000;
    padding-top: 1rem;
}

form {
    width: 700px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    margin: 30px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

input {
    transition: .4s ease-in-out !important;

    &:focus {
        background-color: #ffdba1 !important;
        transform: scale(1.05);
    }
}

textarea {
    transition: .4s ease-in-out !important;

    &:focus {
        background-color: #ffdba1 !important;
        transform: scale(1.05);
    }
}

.boton-size {
    font-size: 20px;
    margin: 20px 0 0 0;
    border-radius: 5px;
}

@media (max-width: 450px) {

    .contacto {
        display: flex;
        flex-wrap: wrap;
        width: 300px;
        align-items: center;
        margin: auto;
        align-content: center;

        .contenido-vertical {
            display: flex;
            flex-direction: column;
            align-items: center;

            h1 {
                font-size: 25px;
                padding: 30px 0 0 0;
                margin: 0 25px 20px 25px;
                text-align: center;
            }
        }

        .contenido-horizontal {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .card {
        width: 300px;
        padding: 5px;
        margin: 10px;
    }

    .card h5 {
        text-align: center;
        font-size: 1rem;
    }

    .card p {
        text-align: center;
        font-size: 14px;
        padding-top: 5px;
    }

    form {
        width: 300px;
        text-align: center;
        font-size: 1rem;
        padding: 5px;
    }

    form label {
        margin: 10px;
    }

    .boton-size {
        font-size: 14px;
    }

}