/* -------HOME------- */

.fdc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fdc .banner img {
    width: 1000px;
    margin: 50px 0;
}

.fdc .banner h1 {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 4rem;
    padding: 1.5rem 0 1rem 0;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
}

.card-mobile {
    display: none !important;
}

.cards-home {
    display: flex;
    justify-content: space-around;
}

.card {
    background-color: #51507ca1;
    h5 {
        color: #ffffff !important;
    }
    p {
        color: #ffffff !important;
    }
}

@media (max-width: 450px) {

    .fdc {
        .banner {
            display: none;
        }
        .cards-index {
            .cards-home {
                display: none;
            }
        }
    }

    .card-mobile {
        display: block !important;
        min-height: 2000px;
    }

    .card-body {
        background-color: #51507ca1 !important;
    }

    .fdc .banner h1 {
        text-align: center;
        font-family: Montserrat, sans-serif;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
        padding: 10px;
    }

    .card-body {

        margin: 20px 0 50px 0;
        h5 {
            color: #ffffff !important;
        }
    }

}