/* ------NOTICIAS------ */

.novedades h1 {
    font-family: Montserrat, sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 50px 20px 20px 20px;
    margin: 0 190px;
    color: #ffffff;
}

.noticias {
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 20px;
    margin: 10px;
    transition: 0.5s ease-in-out;
}

.noticias h2 {
    font-family: Hind, sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline;
    color: #ffffff;
}

.noticias h3 {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
    color: #ffffff;
}

.grilla-noticias {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
    grid-template-rows: 500px 400px;
    grid-template-areas:
        "noticia1 noticia1 noticia4 noticia4"
        "noticia2 noticia3 noticia4 noticia4";
    padding: 50px;
    width: 1500px;
    margin: auto;
}

#noticia1 {
    grid-area: noticia1;
    background-image: url('../imagenes/noticias-oscars.jpg');
    background-size: cover;
}

#noticia2 {
    grid-area: noticia2;
    background-image: url('../imagenes/noticias-murphy.jpg');
    background-size: cover;
}

#noticia3 {
    grid-area: noticia3;
    background-image: url('../imagenes/noticia-poor-things.jpg');
    background-size: cover;
}

#noticia4 {
    grid-area: noticia4;
    background-image: url('../imagenes/noticia-tom-holland.webp');
    background-size: cover;
}

/* -------NOTICIAS HOVER------- */

.noticias:hover {
    transform: scale(1.04);
    transition: 0.5s;
}

@media (max-width: 450px) {

    .novedades h1 {
        font-size: 25px;
        padding: 30px 0 0 0;
        margin: 0 25px !important;
        text-align: center;
    }

    .grilla-noticias {
        display: flex;
        flex-wrap: wrap;
        max-width: 300px;
        margin: 10px auto;
        padding: 5px;
    }

    .noticias h2 {
        font-size: 1rem;
    }

    .noticias h3 {
        font-size: 14px;
    }

    #noticia1 {
        width: 300px;
        height: 300px;
        background-image: url('../imagenes/estatuilla-oscarjpg.jpg');
        background-size: cover;
    }

    #noticia2 {
        width: 300px;
        height: 300px;
        background-image: url('../imagenes/cillian.jpeg');
        background-size: cover;
    }

    #noticia3 {
        width: 300px;
        height: 300px;
        background-image: url('../imagenes/emma.jpg');
        background-size: cover;
    }

    #noticia4 {
        width: 300px;
        height: 300px;
        background-image: url('../imagenes/tom.jpg');
        background-size: cover;
    }

    .noticias:hover {
        border: 3px solid #e7a02e;
        box-shadow: 0px 0px 20px 10px rgb(29, 29, 29);
        transition: 0.5s;
    }

}